@model DataLayer.Person

@{
    ViewBag.Title = "| حذف کاربر";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<h3 class="text-danger">آیا از حذف این کاربر مطمعن هستید؟</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
